html, body, div, span, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol, ul {
  list-style: none;
}

body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
}

.button_validation {
  border: none;
  min-width: 10em;
  min-height: 2em;
  color: #F8882D;
  font-weight: bold;
  background-color: black;
  border-radius: 10px;
  margin-right: 5px;
}
.button_validation:hover {
  color: white;
  background-color: #F8882D;
}

.button_redirection {
  border: none;
  min-width: 10em;
  min-height: 2em;
  color: #dedbdb;
  font-weight: bold;
  background-color: #45818E;
  border-radius: 10px;
}
.button_redirection:hover {
  color: #45818E;
  background-color: #dedbdb;
}

header {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  background-color: #F8882D;
  display: flex;
  justify-content: space-between;
}
header div:nth-child(1) {
  align-items: center;
  display: flex;
  flex-direction: row;
}
header div:nth-child(1) img {
  width: 10em;
}
header div:nth-child(1) h3 {
  margin-left: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3em;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
}
header div:nth-child(2) div:nth-child(1) {
  align-items: center;
  display: flex;
  justify-content: end;
}
header div:nth-child(2) div:nth-child(1) img {
  margin-left: 10px;
  width: 40px;
}
header div:nth-child(2) div:nth-child(1) button {
  height: 20px;
}
header div:nth-child(2) div:nth-child(2) {
  align-items: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
header div:nth-child(2) div:nth-child(2) img {
  width: 40px;
}
header div:nth-child(2) div:nth-child(2) #imgSearch {
  width: 30px;
}
header div:nth-child(2) div:nth-child(2) input {
  height: 20px;
  margin-right: 68px;
  margin-left: 5px;
}

.button_validation {
  border: none;
  min-width: 10em;
  min-height: 2em;
  color: #F8882D;
  font-weight: bold;
  background-color: black;
  border-radius: 10px;
  margin-right: 5px;
}
.button_validation:hover {
  color: white;
  background-color: #F8882D;
}

.button_redirection {
  border: none;
  min-width: 10em;
  min-height: 2em;
  color: #dedbdb;
  font-weight: bold;
  background-color: #45818E;
  border-radius: 10px;
}
.button_redirection:hover {
  color: #45818E;
  background-color: #dedbdb;
}

body section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body section #creation_compte {
  background-color: #dedbdb;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}
body section #creation_compte div:nth-child(1) h4 {
  margin-bottom: 0;
}
body section #creation_compte div:nth-child(2) h4 {
  margin-bottom: 0;
}
body section #creation_compte div:nth-child(3) h4 {
  margin-bottom: 0;
}
body section #creation_compte div:nth-child(4) h4 {
  margin-bottom: 0;
}
body section #creation_compte div:nth-child(5) h4 {
  margin-bottom: 0;
}
body section #creation_compte div:nth-child(6) h4 {
  margin-bottom: 0;
}
body section #redirection_identification {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
body section #redirection_identification button {
  height: 26px;
}

/*# sourceMappingURL=page_creer_compte.css.map */
