@import "variables";

.button{
  border: none;
  min-width: 10em;
  min-height : 2em;
  color: $color-theme-orange;
  font-weight: bold;
  font-size: large;
  background-color: $couleurBout;
  border-radius: 10px;

}