@import "variables";

footer{
  padding: 10px;
  box-sizing: border-box;
  background-color: $color-theme-orange;
  text-align: center;
  color: black;
  font-family: $fontChange;
  font-weight: bold;
  font-size: x-large;
  width: 100%;
  height: auto;
  bottom: 0;
}