@import "variables";

footer{
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: $color-theme-orange;
  text-align: center;
  color: black;
  font-weight: bold;
  max-width: 100%;
}