@import "variables";

header {
  // position: fixed;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: $color-theme-orange;
  display: flex;
  justify-content: space-between;
  div:nth-child(1) {
    align-items: center;
    display: flex;
    flex-direction: row;
    img {
      width: 100px;
    }
<<<<<<< HEAD
    h3 {
      margin-left: 30px;
      font-family: $fontChange, sans-serif;
      font-size: 3em;
      font-weight: bolder;
      margin-top: 0;
      margin-bottom: 0;

=======
    h2 {
      margin-left: 30px;
>>>>>>> origin/main
    }
  }
  div:nth-child(2) {
    div:nth-child(1) {
      align-items: center;
      display: flex;
      justify-content: end;
      img {
        margin-left: 10px;
        width: 50px;
      }
      button {
        height: 20px;
<<<<<<< HEAD
        margin-left: 10px;
=======
>>>>>>> origin/main
      }
    }
    div:nth-child(2) {
      align-items: center;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      img {
<<<<<<< HEAD
        margin-left: 35px;
=======
        margin-left: 10px;
>>>>>>> origin/main
        width: 50px;
      }
      input {
        height: 20px;
<<<<<<< HEAD
        margin-left: 5px;
=======
>>>>>>> origin/main
      }
    }
  }
}