@import "reset", "header", "button", "variables";

  #soiree  {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;

    .corpsSoiree {
      width: 80%;
      min-width: 50em;
      flex-basis: auto;
    }

    #entete {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    #imageSoiree {
      width: 70%;
    }

    .descripSoiree > div:nth-child(2) {
      margin-top: 2.5em;
    }

    .row, .rowTitle {
      display: flex;
      justify-content: space-between;
    }

    .row {
      padding-left: 2em;
      padding-right: 2em;
    }

    .rowTitle {
      border-bottom: solid 1px ghostwhite;
      box-sizing: content-box;
      font-size: x-large;
      font-weight: bold;
      padding: 0.4em;
      font-family: $fontChange;
    }

    .left {
      flex: 1;
    }

    .spectacleSoiree{
      display: flex;
      flex-direction: row;
    }

     #imageSoiree {
      width: 70%;
      box-sizing: border-box;
      overflow: hidden;
    }

    #imageSoiree .image img {
      width: 100%;
      height: 100%;
    }


    .descripSoiree {
      background-color: $color_theme-gray;
      width: 40%;
    }

    .spectacleSoiree {
      display: flex;
      flex-direction: row;
    }

    .articleSpectacle {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, $largeurSpect);
      grid-gap: $largeur_goutieres;
      box-sizing: border-box;
      height: 100%;
      margin-left: 1em;
      margin-right: 1em;


      .spectacle {
        grid-row: 1;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: $color-theme-gray;
        min-width: 100%;
        padding: 2px;

        img {
          width: 100%;
        }

        #infoSpectacle, #description {
          background-color: #F8882D;
          display: flex;
          justify-content: space-between;
          padding: 1em;
        }

        #infoSpectacle {
          margin-bottom: 5px;
        }

        #description {
          flex-direction: column;
          margin-bottom: 10px;
        }


        &>video {
          grid-row: 1;
          background-color: ghostwhite;
          text-align: center;
          width: 100%;
        }

      }

    }
  }

  #buttonPrev {
    align-items: center;
    width: 40px;
    height: 64px;
    background-color: $color-theme-orange;
    clip-path: polygon(100% 100%, 100% 0, 0 50%);
    margin-top: 13em;
    margin-left: 1em;
  }

  #buttonSuiv {
    align-items: baseline;
    width: 40px;
    height: 64px;
    background-color: $color-theme-orange;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    margin-top: 15em;
    margin-right: 1em;
  }


  nav div {
    border: solid 1px ghostwhite;
    margin: 2em;
    min-width: 15em;
  }

  nav {
    margin: 0.4em;
    width: 20%;
    background-color: $color_theme-gray;
    display: flex;
    flex-direction: column;
    height: 158vh;

    h3{
      font-size: x-large;
      padding-left : 2em;
    }

    div {
      display: flex;
      flex-direction: row;

    }

    div p {
      font-size: large;
      padding: 0.4em;
      margin-left: 0.2em;
    }

    p~p{
      margin-left: 2px;
    }

      #plein, #reduit{
      font-weight: bold;
      margin-left: 1em;
    }

    .button_validation {
      margin: 10% 5% 25% 50%;
    }

    label {
      display: inline-block;

      input[type="checkbox"] {
        margin-left: 2.5em;
        margin-top: 2em;
      }
    }
  }
