$color-theme-orange: #F8882D;
$color-theme-gray: #dedbdb;
$largeur_goutieres: 2%;
$largeur_article: calc((100% - 2 * $largeur_goutieres) / 3);
$largeurSpect:  calc((100% - 2 * $largeur_goutieres) / 3) ;
$couleurBout: black;
$headerFond: #F8882D;
$fontChange: "Roboto Condensed";