@import "_reset";
@import "_variables";
@import "_header";

body {

  section {
    display: flex;
    flex-direction: row;

    #accueil_filtres {
      min-width: 20%;
      padding: 20px;
      background-color: $color-theme-gray;

      h3 {
        margin-bottom: 50px;
      }

      & > div {
        h4 {

        }

        & > div {
          @for $i from 1 through 4 {
            div:nth-child(#{$i}) {
              display: flex;
              flex-direction: row;
            }
          }
        }
      }
    }

    #accueil_liste_spectacles {
      padding: 20px;
      width: 90%;

      h3 {
        margin-bottom: 50px;
      }

      & > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3%;
        align-items: center;

        #grille_articles {
          display: grid;
          grid-template-columns: repeat(3, $largeur_article);
          grid-gap: $largeur_goutieres;
          box-sizing: border-box;

          article {
            border: solid black 2px;

            img {
              padding: 20px;
              width: 50px;
            }

            & > div {
              padding: 20px;
              background-color: $color-theme-gray;
              @for $j from 1 through 4 {
                p:nth-child(#{$j}) {

                }
              }

              button {

              }
            }
          }

        }
      }
    }
  }
}

/*pour les petits écrans*/
@media screen and (max-width: 576px) {
  section {
    flex-direction: column;
    background-color: #45818E;

    & > div {
      @for $i from 1 through 4 {
        div:nth-child(#{$i}) {
          flex-direction: column;
        }
      }
    }
  }
}